[submodule "packages/private"]
	path = packages/private
	url = git@github.com:gitgovernance/private.git
[submodule "packages/core-gitlab"]
	path = packages/core-gitlab
	url = git@gitlab.com:gitgovernance/core-gitlab.git
